# -----------------------------
# General App Settings (NOT USED YET)
# -----------------------------
APP_NAME=STT Local Service
APP_ENV=development
APP_HOST=localhost
APP_PORT=8003
DEBUG=False

# -----------------------------
# STT Settings
# -----------------------------

STT_MODEL="base"
STT_USE_CUDA=False

# -----------------------------
# Database Settings
# -----------------------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_SCHEMA=public

# -----------------------------
# JWT Authentication (NOT USED YET)
# -----------------------------
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=jwt_algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# -----------------------------
# CORS (Cross-Origin Resource Sharing) (NOT USED YET)
# -----------------------------
ALLOWED_ORIGINS=http://localhost,http://localhost:3000
